
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Responsive Framework. */
.row {
  width: 100%;
}

/********** Large devices only **********/
@media (min-width: 922px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }  
}

/********** Small devices only **********/
@media  (max-width: 767px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-sx-1 {
    width: 8.33%;
  }
  .col-sx-2 {
    width: 16.66%;
  }
  .col-sx-3 {
    width: 25%;
  }
  .col-sx-4 {
    width: 33.33%;
  }
  .col-sx-5 {
    width: 41.66%;
  }
  .col-sx-6 {
    width: 50%;
  }
  .col-sx-7 { 
    width: 58.33%;
  }
  .col-sx-8 {
    width: 66.66%;
  }
  .col-sx-9 {
    width: 74.99%;
  }
  .col-sx-10 {
    width: 83.33%;
  }
  .col-sx-11 {
    width: 91.66%;
  }
  .col-sx-12 {
    width: 100%;
  }  
}

/********** Base styles **********/

h1 {
  font-size:175%;
  margin-bottom: 15px;
  text-align: center;
}

.content {
  border: 5px solid white;
  background-color: darkgray;
  width: 100%;
  height: 170px;
  margin-right: auto;
  margin-left: auto;
}

.sub-title {
	display: block;
	position: relative;
	top: 0;
  	right: 0;
	border: 2px solid black;
	width: 150px;
 	margin-right: 0;
  	margin-left: auto;
  	text-align: center;
  	font-size: 100%;
  	font-weight: 1000;
  	padding: 10px;
}

p {
   color: white;
   padding-left:10px;
   padding-right: 3px;
   padding-bottom: 3px;
}

/********** section styles  **********/

#section1 .sub-title {
	background-color: mintcream;
	color: black;
	}


#section2 .sub-title{
	background-color: red;
	color: white;	
}

#section3 .sub-title{
	background-color: green;
	color: white;
	
}
